/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary:#0E0333;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: white;
  --ifm-color-primary-lighter: #02E2AC;
  --ifm-color-primary-lightest: #F3587D;
  --ifm-code-font-size: 95%;
  --ifm-link-color: var(--ifm-color-primary-lighter);
   --ifm-hero-background-color: #02E2AC

}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] {
  background-color: #0E0333;
  --ifm-background-color: #0E0333;
  --ifm-color-primary:# white;


}


.hero[data-theme='dark'] {
  --ifm-background-color: #1e2125;
  --ifm-background-surface-color: #121212;
  --ifm-hero-text-color: white !important;
}
