@tailwind base;
@tailwind components;
@tailwind utilities;

/* Use this directive to control where Tailwind injects the responsive variations of each utility */
/* If omitted, Tailwind will append these classes to the very end of your stylesheet by default */
@tailwind screens;

/* Add styles to the base styles: https://tailwindcss.com/docs/adding-base-styles */
@layer base {
  #app {
    @apply text-grey-500; /* Default font color */
    @apply text-sm md:text-md lg:text-lg xl:text-xl 2xl:text-xxl;
    @apply font-sans;
    font-kerning: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-headline;
  }

  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full p-4 border border-grey-400;
    @apply hover:border-grey-500;
    @apply focus:outline-none focus:border-grey-500 focus:ring-0;
    font-size: 100%;
  }
}

/* Add styles to components */
@layer components {
  .indent {
    text-indent: 1em;
  }

  .link {
    @apply text-grey-500 underline cursor-pointer;
  }

  .btn {
    @apply flex items-center gap-2 whitespace-nowrap uppercase font-medium bg-grey-500 text-white px-8 py-4 hover:bg-grey-400;
  }

  .btn.disabled {
    @apply bg-grey-200 hover:bg-grey-200 cursor-default;
  }

  .btn svg {
    @apply stroke-3 stroke-white object-contain h-6 w-6 md:h-8 md:w-8;
  }
}

/* Add styles to utilities */
@layer utilities {
  .icon,
  .icon-small,
  .icon-large {
    @apply stroke-2 object-contain;
  }

  .icon {
    @apply h-10 w-10 md:h-14 md:w-14;
  }

  .icon-small {
    @apply h-6 w-6 md:h-10 md:w-10;
    object-fit: contain;
  }

  .icon-large {
    @apply h-16 w-16 md:h-20 md:w-20;
    object-fit: contain;
  }

  .icon-primary {
    @apply stroke-grey-400 group-hover:stroke-grey-500 hover:stroke-grey-500;
  }

  .icon-secondary {
    @apply stroke-teal;
  }

  .icon-disabled {
    @apply stroke-grey-200;
  }

  .icon-heavy {
    @apply stroke-4;
  }

  .btn {
    @apply flex items-center justify-center gap-x-2 whitespace-nowrap uppercase font-medium bg-grey-500 text-white px-8 py-4 hover:bg-grey-400;
  }

  .btn svg {
    @apply stroke-3 stroke-white object-contain h-6 w-6;
  }

  .btn.in-cart {
    @apply bg-teal hover:bg-grey-400 opacity-100;
  }
}
