@tailwind base;
@tailwind components;
@tailwind utilities;

/* Use this directive to control where Tailwind injects the responsive variations of each utility */
/* If omitted, Tailwind will append these classes to the very end of your stylesheet by default */
@tailwind screens;

/* Add styles to the base styles: https://tailwindcss.com/docs/adding-base-styles */
@layer base {
  #app {
    @apply text-grey-500; /* Default font color */
    @apply text-sm md:text-md lg:text-lg xl:text-xl 2xl:text-xxl;
    font-kerning: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
  }

  h1{
    @apply text-headline;
  }
  a{ @apply underline; }
}


/* Add styles to components */
@layer components {
  .intent{
    text-indent: 1em;
  }
  .link {
    @apply text-grey-500 underline cursor-pointer;
  }
}

/* Add styles to utilities */
@layer utilities {
}



